body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: $grey;
}

.badge {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noah';
  font-weight: 700;
  color: $black;
}

.navbar-nav a {
  font-family: 'Noah';
  font-weight: 400;
  font-size: 1.1em;
}

.navbar-brand h5 b {
  font-size: 1.2em;
}

.hello {
	margin-top: 7em !important;
	margin-bottom: 5em !important;
  color: $grey;
}

.hello p {
	font-size: 2em;
	  font-weight: 400;
	  color: $grey;
	  margin-top: 10px;
	  font-family: 'Noah', sans-serif;
	  font-style: normal;
}

.hello p a.highlight {
	font-weight: 700;
	color: #111;
}

.underline--magical {
  background-image: linear-gradient(120deg, $secondary  0%, $primary  100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 95%;
  transition: all 0.2s ease-in;
}
.underline--magical:hover {
  background-size: 110% 90%;
}
a.underline--magical {
  text-decoration: none;
}
a.underline--magical:hover {
  text-decoration: none !important;
  border: none !important;
  color: #fff !important;
}

#icon-navbar {
    max-width: 20px;
    max-height: 20px;
}

.text-primary {
    color: $primary !important;
}
.border-primary {
    border-color: $primary !important;
}
