body {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  color: $grey;
}

.badge {
  font-weight: 500;
}

hr {
  border-top: 2px solid rgba(0,0,0,.1);
  width: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope';
  font-weight: 700;
  color: $black;
}


.hello {
	margin-top: 7em !important;
	margin-bottom: 5em !important;
  color: $grey;
}

.hello p {
	font-size: 2em;
	  font-weight: 300;
	  color: $grey;
	  margin-top: 10px;
	  font-family: 'Manrope', sans-serif;
	  font-style: normal;
}

.hello p a.highlight {
	font-weight: 700;
	color: #111;
}

.underline--magical {
  background-image: linear-gradient(120deg, $secondary  0%, $primary  100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 95%;
  transition: all 0.2s ease-in;
}
.underline--magical:hover {
  background-size: 100% 100%;
}
a.underline--magical {
  text-decoration: none;
}
a.underline--magical:hover {
  text-decoration: none !important;
  border: none !important;
  color: #fff !important;
}

a {
  color: $terciary;
}

#icon-navbar {
    max-width: 20px;
    max-height: 20px;
}

.text-primary {
    color: $terciary !important;
}
.border-primary {
    border-color: $terciary !important;
}

.bg-primary {
    background-color: $terciary !important;
}

.btn-outline-primary {
    color: $terciary;
    border-color: $terciary;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: $terciary;
    background-color: $terciary;
}

p {
  font-size: 1.1em;
}

code, kbd, pre, samp {
  font-family: 'Fira Code', Consolas, monospace !important;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
      border-top-right-radius: $rounded-borders;
    border-bottom-right-radius: $rounded-borders;	
}
