.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-link,
.navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-item.active {
  font-weight: bold;
}

.navbar-brand {
  margin-bottom: -14px;
  &::after {
    margin-top: -0.25em;
  }
}


.navbar-nav a {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 1em;
}

.navbar-brand h5 b {
  font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
      color: rgba(0,0,0,.6);
}

