---
layout: compress
---

{% include head.html %}

<main>
    {% include header.html %}
    
    <h1>{{ page.title }}</h1>
    {{ page.date | date: "%b %d, %Y" }}

    <article>
        {{ page.content }}
    </article>

    <hr>
    
    <small>
        {% for tag_slug in page.tags %}
            <a href="{{ 'tag/' | relative_url }}{{ tag_slug }}" title="See all posts by {{ tag_slug }} tag">#{{ tag_slug }}</a>
        {% endfor %}
    </small>
</main>

{% include footer-post.html %}
{% include footer.html %}

</body>
</html>